.wrapper {
  --gold: #Ceb07e;
  --slate: #94a3b8;

  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(203, 213, 225);
  font-size: 0.875rem;
  background: #05092b;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  font-weight: 500;
  overflow: hidden;
  isolation: isolate;
  position: relative;

  @media only screen and (min-width: 992px) {
    flex-direction: row;
  }

  h1,h2,h3,h4,h5,h6 { color: white }

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #1a1f4d;
    filter: blur(64px);
    width: 500px;
    height: 500px;
    border-radius: 9999px;
    opacity: 0.5;
    margin-top: -5rem;
    margin-right: -5rem;
  }

  .detailsPane {
    z-index: 10;
    padding-bottom: 3rem;
    width: 100%;
    
    @media only screen and (min-width: 992px) {
      width: 60%;
      padding-bottom: 0;
      padding-right: 0.5rem;
    }
  }

  .pricePane {
    z-index: 10;
    align-self: stretch;
    background: #010025;
    padding-top: 0.5rem;
    width: 100%;
    border-color:#1e293b;
    border-style: solid;
    border-top-width: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (min-width: 992px) {
      width: 40%;
      padding-bottom: 0;
      padding-left: 0.5rem;
      border-top-width: 0;
      border-left-width: 1px;
    }

    .logoWrapper {
      position: relative;
      top: -5.5rem;
      margin-bottom: -3rem;
      text-align: center;

      @media only screen and (min-width: 992px) {
        top: 0;
        margin-bottom: 2.5rem;
      }
    }

    .logo {
      width: 184px;
      max-width: 80%;
      // transition-property: transform;
      // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition: scale cubic-bezier(0.4, 0, 0.2, 1) 500ms;
      &:hover {
        scale: 1.05;
        // transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
      }
    }
  }

  .pane {
    padding: 2rem;

    @media only screen and (min-width: 992px) {
      padding: 3rem;
    }
  }

  .eyebrow {
    color: var(--slate);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    margin-bottom: 0.75rem;
  }

  .badge {
    display: inline-block;
    color: white;
    background-color: #ff224a;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75rem;
    letter-spacing: 0.05;
    line-height: 1rem;
    * { margin: 0; }
  }

  .h2 {
    font-size: 2rem;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin-bottom: 0.75rem;
  }

  .h3 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.375;
    letter-spacing: 0.45px;
    margin-bottom: 1.5rem;
  }

  .checkList {
    list-style-position: outside;
    list-style-type: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
    font-size: 0.875rem;

    li {
      display: flex;
      row-gap: 12px;
      column-gap: 12px;
      margin-bottom: 0.75rem;
      &:last-of-type { margin-bottom: 0; }

      strong { color: white; }

      div {
        color: var(--gold);
        min-width: 20px;
      }
    }
  }

  .trusted {
    font-size: 0.75rem;
    line-height: 0.75rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 3rem;
    margin-bottom: 0;
    color: var(--slate);

    @media only screen and (min-width: 992px) {
      margin-top: 5rem;
      justify-content: start;
    }
  }

  .stars {
    color: var(--gold);
  }

  .enrollButton {
    display: flex;
    margin: 2rem auto 0;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    background-color: var(--gold);
    color: black;
    border: 0;
    padding: 1rem 1.625rem;
    border-radius: 999rem;
    font-weight: bold;
    font-size: 0.875rem;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;

    @media only screen and (min-width: 1200px) {
      font-size: 1.125rem;
      padding-left: 2rem;
      padding-right: 2rem;
      gap: 0.5rem;
    }
    
    .icon {
      transition-property: transform;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
    }

    &:hover {
      transform: translate(0, -0.125rem);
      .icon {
        transform: translate(0.25rem, 0);
      }
    }
  }
}