.header {
  display: flex;
  padding: 1rem 0;
  justify-content: center;
  background-color: var(--bs-light);
  /* box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.125); */
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.125); */
}

@media only screen and (min-width: 768px) {
  .header { padding: 1.5rem 0; }
}

@media only screen and (min-width: 992px) {
  .header { padding: 2rem 0; }
}