.title {
  margin-bottom: 0.25rem;
}

.description {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.hr {
  margin: 2rem 0;
}

.price {
  font-size: 4.125rem;
  line-height: 4.125rem;
  font-weight: 600;
  font-family: var(--qc-neue-haas-display);
  margin-bottom: 0.5rem;
}

.priceSmall {
  font-size: 2rem;
  font-weight: 400;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list li { margin-bottom: 1rem; }
.list li:last-of-type { margin-bottom: 0; }

.bold { font-weight: 500; }

.icon {
  display: inline-block;
  position: relative;
  top: -2px;
}